<div class="sidebar_all_latest_posts">
  <div class="sidebar_one_post">
    <img src="assets/img/lp1.jpg" class="sidebar_photo_post">
    <p class="sidebar_text_latest_post">10 Books to Read This Summer If You Want to Improve Yourself</p>
  </div>
  <div class="sidebar_one_post">
    <img src="assets/img/lp2.jpg" class="sidebar_photo_post">
    <p class="sidebar_text_latest_post">Why I Decided to Give up My Favorite Foods and Go Vegan</p>
  </div>
  <div class="sidebar_one_post">
    <img src="assets/img/lp3.jpg" class="sidebar_photo_post">
    <p class="sidebar_text_latest_post">The 10 Most Instagrammable Spots in San Diego</p>
  </div>
  <div class="sidebar_one_post">
    <img src="assets/img/lp4.jpg" class="sidebar_photo_post">
    <p class="sidebar_text_latest_post">5 Things to Know About Dating a Bisexual</p>
  </div>
  <div class="sidebar_one_post">
    <img src="assets/img/lp5.jpg" class="sidebar_photo_post">
    <p class="sidebar_text_latest_post">How to Take Critical Feedback at Work (Like a Boss)</p>
  </div>
</div>
