<div class="all_latest_thumbnail_all">
  <div class="all_latest_thumbnail_left">
  <img src="./assets/img/1.jpg" class="photo_latest_thumbnail">
<p class="date_latest_thumbnail">MAY 10, 2018 / LIFE</p>
<p class="logotype_latest_thumbnail">Travel Tuesday: Answering Your Most
  Frequent International Transportation Questions</p>
  <p class="text_latest_thumbnail">Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit.</p>
</div>
<div class="all_latest_thumbnail_right">
  <img src="./assets/img/2.jpg" class="photo_latest_thumbnail">
  <p class="date_latest_thumbnail">MAY 17, 2018 / SPORT</p>
  <p class="logotype_latest_thumbnail">A Closer Look At Our Front Porch Items From Lowe’s</p>
  <p class="text_latest_thumbnail">Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
  <div class="all_latest_thumbnail_left">
    <img src="./assets/img/3.jpg" class="photo_latest_thumbnail">
    <p class="date_latest_thumbnail">MAY 22, 2018 / LIFESTYLE</p>
    <p class="logotype_latest_thumbnail">Wedding Guest Style:
      From Beach Casual to Black-Tie Formal</p>
    <p class="text_latest_thumbnail">Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="all_latest_thumbnail_right">
    <img src="./assets/img/4.jpg" class="photo_latest_thumbnail">
    <p class="date_latest_thumbnail">MAY 25, 2018 / FASHION</p>
    <p class="logotype_latest_thumbnail">5 Things to Know About Dating a Bisexual</p>
    <p class="text_latest_thumbnail">Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="all_latest_thumbnail_left">
    <img src="./assets/img/5.jpg" class="photo_latest_thumbnail">
    <p class="date_latest_thumbnail">MAY 29, 2018 / FOOD</p>
    <p class="logotype_latest_thumbnail">7 Things Wealthy Women Do With Their Money That You Can Do Too</p>
    <p class="text_latest_thumbnail">Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="all_latest_thumbnail_right">
    <img src="./assets/img/6.jpg" class="photo_latest_thumbnail">
    <p class="date_latest_thumbnail">JUN 02, 2018 / SUMMERHOLIDAY</p>
    <p class="logotype_latest_thumbnail">The 10 Most Instagrammable Spots in San Diego</p>
    <p class="text_latest_thumbnail">Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  </div>

</div>


