<div class="insta_photos">
  <img src="assets/img/insta1.jpg" class="insta_photos_settings">
  <img src="assets/img/insta2.jpg" class="insta_photos_settings">
  <img src="assets/img/insta3.jpg" class="insta_photos_settings">
  <img src="assets/img/insta4.jpg" class="insta_photos_settings">
  <img src="assets/img/insta5.jpg" class="insta_photos_settings">
  <img src="assets/img/insta6.jpg" class="insta_photos_settings">
  <img src="assets/img/insta7.jpg" class="insta_photos_settings">
  <img src="assets/img/insta8.jpg" class="insta_photos_settings">

</div>
